.jobListContainer {
    margin-top: 50px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.searchArea {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 5px;
    border-bottom: 3px solid #000;
}

.searchInput {
    width: 250px !important;
}
